// .home,
.search,
.error404,
.page,
.single,
.page-template-page_grid {
  .site-main {
    position: relative;
    top: -6rem;
    @media (min-width: $screen-size-l) {
      top: -13.5rem;
      margin-bottom: -10rem;
    }
  }
}

.archive {
  .site-main {
    position: relative;
    top: auto;
    @media (min-width: $screen-size-m) {
      top: -7rem;
    }
    @media (min-width: $screen-size-l) {
      top: -13.5rem;
      margin-bottom: -10rem;
    }
  }
}
