// .home,
.search,
.error404,
.page,
.single,
.page-template-page_grid {
  .site-main {
    position: relative;
    top: -6rem;
    @media (min-width: $screen-size-l) {
      top: -13.5rem;
      margin-bottom: -10rem;
    }
  }
}

.archive {
  .site-main {
    position: relative;
    top: auto;
    @media (min-width: $screen-size-m) {
      top: -5rem;
    }
    @media (min-width: $screen-size-xl) {
      top: -10rem;
      margin-bottom: -8rem;
    }
    @media (min-width: $screen-size-xxl) {
      top: -13.5rem;
      margin-bottom: -10rem;
    }
  }
}

.page.page-template-page_parallax {
  .site-main {
    position: relative;
    top: 0;
    margin-bottom: 0;
  }

  .entry-content {
    margin-top: 0;
  }
}

/*
 * Reset for scrollytelling pages
*/
.page.page-id-13706 {
  .site-main {
    top: 0;
  }
}
