.home,
.error404,
.search,
.page-template-page_frontpage,
.page-template-page_grid {
  .site-main {
    position: relative;
    @media (min-width: $screen-size-m) {
      top: -13.5rem;
      margin-bottom: -10rem;
    }
  }
}

.single,
.archive {
  .site-main {
    position: relative;
    top: -5rem;
    @media (min-width: $screen-size-m) {
      top: -13.5rem;
      margin-bottom: -10rem;
    }
  }
}
