@import 'effects';
@import 'alignments';
@import 'accessibility';

.mb-1 {
  margin-bottom: 1rem;
}

.mb-1_5 {
  margin-bottom: 1.5rem;
}

.pb-0 {
  padding-bottom: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.text-align {
  &-center {
    text-align: center;
  }

  &-justify {
    text-align: justify;
  }
}

.border-bottom-none {
  border-bottom: none !important;
}

.position-relative {
  position: relative;
}

.margin-auto {
  margin: auto;
}

.dropcap {
  p:first-of-type {
    &:first-child {
      &:first-letter {
        font-family: $font-display;
        float: left;
        font-size: 3.5rem;
        line-height: 45px;
        padding-top: 4px;
        padding-right: 8px;
      }
    }
  }

  &--s {
    p:first-of-type {
      &:first-child {
        &:first-letter {
          padding-top: 0;
        }
      }
    }
  }
}

.is-hidden {
  display: none;
}
