.site-footer {
  padding-top: 0.75rem;
  background-color: $c-primary-mid;

  @media (min-width: $screen-size-m) {
    padding-top: 1rem;
  }

  &-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    @media (min-width: $screen-size-m) {
      flex-direction: row;
    }
  }

  h2 {
    font-size: $fs-single-h3-mobile;
    font-family: $font-display;
    text-transform: uppercase;
    @media (min-width: $screen-size-m) {
      font-size: $fs-single-h3;
    }
  }

  &-left {
    h2 {
      margin: 0 0 1rem 0.25rem;
    }
  }

  &-right {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid $c-primary-dark;
    @media (min-width: $screen-size-m) {
      margin: 0;
      padding: 0;
      border: none;
    }
  }

  &-email {
    display: flex;
    align-items: center;
    margin: 0.623rem 0.25rem 1rem 0.25rem;
    span {
      margin-left: 0.5rem;
    }
  }

  &-icons-wrapper {
    display: flex;
  }

  &-icon {
    display: inline-block;
    border-radius: 50%;
    background-color: $c-primary-dark;
    width: 3.625rem;
    height: 3.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.25rem;
  }

  &-sub {
    margin-top: 1rem;
    padding: 1rem 0;
    text-align: center;
    border-top: 1px solid rgb(136, 124, 124);
    a,
    a:visited {
      color: #ffffff;
    }
  }

  input[type='submit'] {
    background-color: $c-primary-dark;
  }

  input[type='email'] {
    border-bottom: 1px solid $c-primary-light;
    border-radius: unset;
    margin-bottom: 1rem;

    &::placeholder {
      color: $c-primary-dark;
      font-size: 22px;
    }
  }
}

.mc {
  &-form-label {
    visibility: hidden;
  }

  &-wrapper {
    position: relative;
    top: -1rem;
  }
}
