.wpcf7 {
  width: 100%;
  max-width: $width-m;
  margin: auto;
  input[type='text'],
  input[type='email'] {
    border-bottom: 1px solid $c-primary-light;
    border-radius: unset;
    margin-bottom: 1rem;

    &::placeholder {
      color: $c-primary-mid;
      font-size: 26px;
    }
  }
}
