.long-content-controls {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 1rem 1rem 0;
  z-index: 30;
}

.related-posts-button,
.back-to-top-button {
  display: none;
  background-color: rgba(245, 245, 246, 0.7);
  height: 45px;
  width: 45px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  line-height: initial;

  img {
    height: 22px;
    width: 22px;
  }
}

.related-posts-button {
  margin-bottom: 0.5rem;
  &--show {
    display: flex;
  }
}

.back-to-top-button {
  &--show {
    display: flex;
  }
}
