.long-content-controls {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 1rem 1rem 0;

  &--show {
    display: block;
  }
}

.related-posts,
.back-to-top {
  &-button {
    display: flex;
    background-color: rgba(245, 245, 246, 0.7);
    height: 52px;
    width: 52px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    line-height: initial;
  }
}

.related-posts-button {
  margin-bottom: 0.5rem;
}
