.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
  font-size: 1rem;

  @media (min-width: $screen-size-m) {
    font-size: 1.1rem;
  }

  img[class*='wp-image-'] {
    @include center-block;
  }

  .wp-caption-text {
    padding: 0.5rem;
  }
}

.wp-caption-text {
  text-align: center;
}
