.owl-tile {
  position: relative;
  padding-top: 100%;

  &-title {
    color: $c-primary-light !important;
  }

  &:before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 35%,
      rgba(0, 0, 13, 0.5) 100%
    );
    z-index: 10;
  }

  &-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    align-items: flex-end;
    display: flex;
  }

  &-title {
    position: absolute;
    padding: 0.25rem;
  }

  &-image {
    object-fit: cover;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.owl-prev,
.owl-next {
  span {
    display: none;
  }
  position: absolute;
  top: 43%;
  height: 50px;
  width: 50px;
  background-color: rgba(245, 245, 246, 0.7) !important;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.owl-next {
  right: 0;
}

.owl-prev,
.owl-next {
  &:before {
    content: '';
    height: 35px;
    width: 35px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
  }
}

.owl-prev {
  margin-left: 0.5rem;
  &:before {
    left: 0.25rem;
    background-image: url('assets/icons/chevron-left-gray.svg');
  }
}

.owl-next {
  margin-right: 0.5rem;
  &:before {
    background-image: url('assets/icons/chevron-left-gray.svg');
    transform: rotate(180deg);
    left: -0.25rem;
  }
}

.owl-carousel {
  &-heading {
    padding: 0.5rem 2rem;
    margin: 0;
  }

  &-close {
    position: absolute;
    right: 0;
    margin-top: 0.75rem;
    margin-right: 0.5rem;

    img {
      width: 25px;
    }
  }

  &-wrapper {
    &--fixed {
      position: fixed;
      bottom: 0;
      width: 100%;
      left: 0;
      background-color: rgba(0, 0, 0, 0.8);
      padding: 0 0.5rem;
      padding-bottom: 0.5rem;

      @media (min-width: $screen-size-m) {
        padding-bottom: 1rem;
      }
    }

    &--fade-out-in {
      animation: fadeoutin 1s linear forwards;
    }
  }
}

@keyframes fadeinout {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
