.homepage {
  &-intro-wrapper {
    position: relative;
    top: -3rem;
    text-align: center;
    margin: auto;

    @media (min-width: $screen-size-m) {
      max-width: $width-s;
      top: -8rem;
    }

    @media (min-width: $screen-size-l) {
      max-width: $width-m;
    }
  }
}
