@import '../../abstracts/abstracts';

.main-navigation {
  display: flex;
  align-items: center;
  font-family: 'Alata';
  font-size: 1.125rem;
  text-transform: uppercase;
  position: relative;

  @media (min-width: $screen-size-l) {
    top: 0.25rem;
  }

  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;

    ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      top: 100%;
      left: -999em;
      z-index: 99999;

      ul {
        left: -999em;
        top: 0;
      }

      li {
        &:hover > ul,
        &.focus > ul {
          display: block;
          left: auto;
        }
      }

      a {
        width: 200px;
      }

      :hover > a,
      .focus > a {
      }

      a:hover,
      a.focus {
      }
    }

    li:hover > ul,
    li.focus > ul {
      left: auto;
    }
  }

  li {
    position: relative;
    padding: 0 1.25rem;

    & > a {
      color: $c-primary-light;
      border-bottom: $nav-border-bottom-hide;
      padding-bottom: 0.25rem;
    }

    &:hover > a,
    &.focus > a {
      color: $c-primary-light;
      border-bottom: $nav-border-bottom-active;
    }

    &:visited > a {
      color: $c-primary-light;
    }
  }

  a {
    display: block;
    text-decoration: none;
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a,
  .current-menu-ancestor > a {
  }
}

/* Small menu. */
.menu-toggle {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  margin-top: 1rem 0.25rem;
}

.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: $screen-size-l) {
  .menu-toggle {
    display: none;
  }

  .main-navigation ul {
    display: flex;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 1.5em;
  }

  .nav-links {
    display: flex;
  }

  .nav-previous {
    flex: 1 0 50%;
  }

  .nav-next {
    text-align: end;
    flex: 1 0 50%;
  }
}

/* Hamburger */
/*
 * Hamburger button
*/
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  border-radius: 2px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
}

.change {
  & .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px);
  }

  & .bar2 {
    opacity: 0;
  }

  & .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-10px, -8px);
  }
}
