@import '../../abstracts/abstracts';

.main-navigation {
  font-family: $font-display;
  font-size: $fs-navigation-mobile;
  text-transform: uppercase;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10;

  @media (min-width: $screen-size-xl) {
    font-size: $fs-navigation-desktop;
    width: unset;
  }

  ul {
    list-style: none;
  }

  ul:first-child {
    // first level
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    margin: 0;
    padding-left: 0;
    padding-top: 40px;

    @media (min-width: $screen-size-xl) {
      display: flex;
      position: unset;
      background-color: transparent;
      min-height: unset;
      width: unset;
      padding-top: 0;
    }

    & > li {
      @media (min-width: $screen-size-xl) {
        cursor: pointer;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        border-bottom: $nav-border-bottom-hide;
        &:hover {
          border-bottom: $nav-border-bottom-active;
        }
      }
    }

    & > li > ul {
      // second level, main menu block
      @media (min-width: $screen-size-xl) {
        padding-top: 1rem;
        display: flex;
        justify-content: center;
      }
    }

    & > li > ul > li {
      cursor: default;
    }

    & > li > ul > li > ul {
      @media (min-width: $screen-size-xl) {
        //target final level
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        position: unset;

        a {
          font-size: 1rem;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    ul {
      //any ul nested in the first ul of the main-navigation - second and final level
      padding-left: 2rem;
      position: absolute;
      z-index: 99999;
      display: block;
      left: -999em;
      @media (min-width: $screen-size-xl) {
        padding-left: 0.25rem;
      }

      ul {
        //any ul nested in another ul - final level
        left: -999em;
        top: 0;
        height: 100%;
      }

      li {
        &.focus > ul {
          left: auto;
        }
      }

      a {
        width: 200px;
        @media (min-width: $screen-size-xl) {
          width: 170px;
        }
      }
    }

    // submenu on focus of parent list item
    li:hover > ul,
    li.focus > ul {
      // hack to make sure navigation hoverable on narrow desktop screens
      @media (max-width: $screen-size-xl-reverse) {
        display: block;
        left: auto;
        position: relative;
      }
    }

    & > li:hover > ul {
      // target second level ul
      @media (min-width: $screen-size-xl) {
        position: absolute;
        display: flex;
        left: 0;
        width: 100%;
        display: flex;
        height: 320px;
      }
    }
  }

  li {
    // On hover of *any* list item in the menu
    position: relative;
    padding: 0.5rem 0.25rem;
    border-top: 1px solid;

    @media (min-width: $screen-size-xl) {
      padding: 0.25rem 0.25rem;
      border-top: none;
    }

    & > a {
      color: $c-primary-light;
      border-bottom: $nav-border-bottom-hide;
      padding-bottom: 0;
    }

    &:hover > a,
    &.focus > a {
      color: $c-primary-light;
      @media (min-width: $screen-size-xl) {
        padding-bottom: 0;
      }
    }

    &:visited > a {
      color: $c-primary-light;
    }
  }

  a {
    display: block;
    text-decoration: none;
    padding-left: 0.25rem;
    @media (min-width: $screen-size-l) {
      padding-left: 1rem;
    }
    @media (min-width: $screen-size-xl) {
      padding: 0;
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    }
  }
}

/* Small menu. */
.menu-toggle {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;

  position: absolute;
  right: 0;
  z-index: 10;
}

.menu-toggle {
  display: block;
  @media (min-width: $screen-size-xl) {
    display: none;
  }
}
.main-navigation.toggled ul {
  display: block;
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 1.5em;
  }

  .nav-links {
    display: flex;
  }

  .nav-previous {
    flex: 1 0 50%;
  }

  .nav-next {
    text-align: end;
    flex: 1 0 50%;
  }
}

/* Hamburger */
/*
 * Hamburger button
*/
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  border-radius: 2px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
}

.change {
  & .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px);
  }

  & .bar2 {
    opacity: 0;
  }

  & .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-10px, -8px);
  }
}
