@import '../../abstracts/abstracts';

.main-navigation {
  font-family: $font-display;
  font-size: $fs-navigation-desktop;
  text-transform: uppercase;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  z-index: 10;
  top: 0.25rem;
  right: 0;

  @media (max-width: $screen-size-l) {
    font-size: $fs-navigation-mobile;
    top: 0;
    width: 100%;
  }

  ul {
    list-style: none;
  }

  ul:first-child {
    display: flex;
    margin: 0;

    @media (max-width: $screen-size-l) {
      min-height: 100vh;
      display: none;
      margin: 0;
      padding-left: 0;
      position: absolute;
      left: 0;
      width: 100%;
      padding-top: 40px;
      // background-image: url('assets/menu/flamingoes.png');
      // background-size: contain;
      // background-repeat: no-repeat;
      background-color: #00000de6;
    }

    ul {
      //second level
      padding-left: 2rem;
      display: none;
      position: absolute;
      z-index: 99999;

      @media (max-width: $screen-size-l) {
        display: block;
        left: -999em;
      }
      ul {
        //final level
        @media (max-width: $screen-size-l) {
          left: -999em;
          top: 0;
        }
      }

      li {
        &:hover > ul, //final level ul
        &.focus > ul {
          @media (max-width: $screen-size-l) {
            left: auto;
          }
        }
      }

      a {
        width: 200px;
      }
    }

    & > li:hover > ul {
      @media (min-width: $screen-size-l) {
        left: -25rem;
        background-color: rgba(0, 0, 0, 0.8);
        color: purple;
      }
    }

    li:hover > ul, // submenu on hover of parent list item
    li.focus > ul {
      display: block;
      @media (min-width: $screen-size-l) {
        display: flex;
      }
      @media (max-width: $screen-size-l) {
        left: auto;
        position: relative;
      }

      ul {
        //final level on hover of top level li
        display: block;

        @media (min-width: $screen-size-l) {
          //note this is min-width, default is max-width
          position: relative;
        }
      }
    }
  }

  li {
    position: relative;
    padding: 0 1.25rem;
    @media (max-width: $screen-size-l) {
      padding: 0.5rem 0.25rem;
      border-top: 1px solid;
    }

    & > a {
      color: $c-primary-light;
      border-bottom: $nav-border-bottom-hide;
      padding-bottom: 0.25rem;

      @media (max-width: $screen-size-l) {
        padding-bottom: 0;
      }
    }

    &:hover > a,
    &.focus > a {
      color: $c-primary-light;
      border-bottom: $nav-border-bottom-active;
      @media (max-width: $screen-size-l) {
        border-bottom: none;
        padding-bottom: 0.5rem;
      }
    }

    &:visited > a {
      color: $c-primary-light;
    }
  }

  a {
    display: block;
    text-decoration: none;
    padding-left: 0.25rem;
  }
}

/* Small menu. */
.menu-toggle {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;

  position: absolute;
  right: 0;
  z-index: 10;
}

.menu-toggle {
  display: none;
  @media (max-width: $screen-size-l) {
    display: block;
  }
}
.main-navigation.toggled ul {
  display: block;
}

// @media screen and (max-width: $screen-size-l) {
//   .menu-toggle {
//     display: block;
//   }
// }

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 1.5em;
  }

  .nav-links {
    display: flex;
  }

  .nav-previous {
    flex: 1 0 50%;
  }

  .nav-next {
    text-align: end;
    flex: 1 0 50%;
  }
}

/* Hamburger */
/*
 * Hamburger button
*/
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  border-radius: 2px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
}

.change {
  & .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px);
  }

  & .bar2 {
    opacity: 0;
  }

  & .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-10px, -8px);
  }
}
