button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  border: 1px solid;
  border-color: $c-primary-mid;
  border-radius: 3px;
  background: $c-primary-light;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1;
  padding: 0.15;

  &:hover {
    border-color: $c-primary-mid;
  }

  &:active,
  &:focus {
    border-color: $c-primary-mid;
  }
}
