input[type='text'],
input[type='email'],
input[type='url'],
input[type='password'],
input[type='search'],
input[type='number'],
input[type='tel'],
input[type='range'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'],
textarea {
  color: $c-primary-light;
  border: 1px solid $c-primary-light;
  border-radius: 3px;
  padding: 3px;

  &:focus {
    color: $c-primary-light;
  }
}

select {
  border: 1px solid $c-primary-light;
}

textarea {
  width: 100%;
  padding: 0 0.5rem;
  background-color: transparent;
  border: 2px solid $c-primary-mid;
  border-radius: 3px;
  &::placeholder {
    color: $c-primary-dark;
  }
}

input[type='search'],
input[type='text'],
input[type='email'] {
  padding: 0 0.5rem;
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: $fs-single-h2-mobile;
  @media (min-width: $screen-size-m) {
    font-size: $fs-single-h2;
  }
}

input[type='submit'] {
  border-radius: 0;
  padding: 0.75rem;
  text-transform: uppercase;
  border: none;
  background-color: $c-primary-mid;
  color: white;
}
