.heading {
  font-family: $font-display;
  text-transform: uppercase;
  padding-bottom: 3px;
  margin-bottom: 1rem;

  @media (min-width: $screen-size-l) {
    padding-bottom: 9px;
  }
}

.subheading {
  text-transform: uppercase;
  border-bottom: 1px solid $c-primary-light;
}

.page {
  &-h2 {
    text-align: center;
    font-size: $fs-home-h2-mobile;
    border-bottom: 2px solid $c-primary-mid;
    @media (min-width: $screen-size-l) {
      font-size: $fs-home-h2;
    }
  }

  &-h3 {
    font-size: $fs-home-h3;
  }
}
