a {
  color: $c-secondary-saturated;

  &:visited {
    color: $c-secondary;
  }

  &:hover,
  &:focus,
  &:active {
    color: $c-secondary;
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}
