.heading {
  font-family: $font-display;
  text-transform: uppercase;
  padding-bottom: 3px;
  border-bottom: 2px solid $c-primary-mid;
  text-align: center;

  @media (min-width: $screen-size-l) {
    padding-bottom: 9px;
  }
}

.home {
  &-h2 {
    font-size: $fs-home-h2;
  }

  &-h3 {
    font-size: $fs-home-h3;
  }
}
