.container {
  margin: auto;
}

@media (min-width: $screen-size-xl) {
  .container {
    max-width: 1170px;
  }

  .container-inner {
    max-width: 800px;
  }

  .container-innermost {
    max-width: 500px;
  }
}

@media (max-width: $screen-size-xl) {
  .container {
    padding: 0 1.5rem;
  }
}

@media (max-width: $screen-size-l) {
  .container {
    padding: 0 0.5rem;
  }
}
