.container {
  margin: auto;
}

@media (min-width: $screen-size-m) {
  .container-inner {
    max-width: $width-s;
  }
}

@media (min-width: $screen-size-xl) {
  .container {
    max-width: $width-l;
  }

  .container-inner {
    max-width: $width-m;
  }

  .container-innermost {
    max-width: $width-s;
  }
}

@media (max-width: $screen-size-xl) {
  .container {
    padding: 0 1.5rem;
  }
}

@media (max-width: $screen-size-l) {
  .container {
    padding: 0 0.5rem;
  }
}
