$font-display: 'Alata', 'Segoe UI', Roboto, Cantarell, 'Helvetica Neue',
  sans-serif;
$font__main: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,
  Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

$fs-navigation-desktop: 1.125rem;
$fs-navigation-mobile: 1.5rem;

$fs-hero-title-desktop: 2.25rem;
$fs-hero-title-ipad: 2rem;
$fs-hero-title-mobile: 1.625rem;

$fs-hero-subtitle-desktop: 1.5rem;
$fs-hero-subtitle-mobile: 1.25rem;

/*
 * Font sizes for Home Page and Destination Pages (i.e. Iceland, Cape Verde)
 */
$fs-home-h2: 1.875rem;
$fs-home-h2-mobile: 1.5rem;
$fs-home-h3: 1.5rem;
$fs-home-subheading: 1rem;

/*
 * Font sizes for Single Post Pages
 */
$fs-single-h2: 29px;
$fs-single-h2-mobile: 25px;

$fs-single-h3: 25px;
$fs-single-h3-mobile: 20px;

$fs-single-h4: 22px;
$fs-single-h4-mobile: 18px;

$fs-single-body: 18px;
$fs-single-caption: 16px;

/*
 * Typography inherited from UNDERSCORES
 */

// stylelint-disable value-keyword-case

// stylelint-enable value-keyword-case
$font__code: monaco, consolas, 'Andale Mono', 'DejaVu Sans Mono', monospace;
$font__pre: 'Courier 10 Pitch', courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
